{% extends 'base.html' %}


{% block title %}
New List
{% endblock title %}


{% block content %}
<header>
    {% comment %} <nav>
        <a href="{% url '___' %}">____</a>
    </nav> {% endcomment %}
</header>
<main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
</main>
{% endblock content %}
