{% extends 'base.html' %}


{% block title %}
something something change later
{% endblock title %}


{% block content %}

<main>
    <div>
        <h1>{{ todo_list_detail.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' todo_list_detail.id %}">Update</a>
        </p>
        <p>
            <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_list_detail.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' todo_list_detail.id %}">{{ item.task }}</a>
                    </td>
                    <td>
                        {{ item.due_date }}
                    </td>
                <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock content %}
