{% comment %} {% load static %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        </style>
        <title>
            {% block title %}{% endblock title%}
        </title>
        {% comment %} <link rel="stylesheet" href="{% static "css/recipes.css" %}"> {% endcomment %}
    </head>
    <body>
        {% comment %} <div id="page-container"> {% endcomment %}
            {% block content %}{% endblock content %}
            {% comment %} <footer>
                Made with love by Scrumptious Recipes
            </footer>
        </div> {% endcomment %}
    </body>
</html>
